{% extends 'ideas/base.html' %}


{% block content %}
	<h1>{{ idea.name }}</h1>
	

	<div class="medium-5 columns panel idea-info">

		<article>
			<img src="{{ STATIC_URL }}site_imgs/idea-fallback.png" />
		</article>
		<article>
			<strong>Description:</strong>
			<p>{{ idea.short_description }}</p>
		</article>
		<article>
			<strong>Idea Type</strong>
			<p>{{ idea.idea_type }}</p>
		</article>


	</div>

	<div class="medium-7 columns">


		

		<h2>Notes</h2>
		<ul>
		{% for notes in idea.notes %}
			<li>{{ notes.txt }}</li>
		{% endfor %}
		</ul>


		<form name="add_notes" action="." method="POST">{% csrf_token %}
			<textarea name="note" placeholder="add notes here"></textarea>
			<button type="submit">Add</button>
		</form>
	</div>

{% endblock %}