{% extends 'ideas/base.html' %}


{% block content %}
	<h1>{{ idea.name }}</h1>
	

	<div class="medium-5 columns panel idea-info">

		<article>
			<img src="{{ STATIC_URL }}site_imgs/idea-fallback.png" />
		</article>
		<div class="icon-bar three-up">
			<a class="item">
				<i class="fi-widget"></i>
			</a>
			<a class="item">
				<i class="fi-page-edit"></i>
			</a>

			<a class="item">
				<i class="fi-at-sign"></i>
			</a>
		</div>
			
		</article>
		<article>
			<strong>Description:</strong>
			<p>{{ idea.short_description }}</p>
		</article>
		<article>
			<strong>Idea Type</strong>
			<p>{{ idea.idea_type }}</p>
		</article>

		


	</div>

	<div class="medium-7 columns">


		
<!-- 		<div class="panel bot-marpad">
			<h2>Notes</h2>
			<form name="add_notes" action="." method="POST">{% csrf_token %}
				<textarea name="note" placeholder="add notes here"></textarea>
				<button type="submit">Add</button>
			</form>
		</div> -->
		<section class="wid-block">
			<header>Notes</header>

			{% for notes in idea.notes %}
				
				<article class="notes">
					<div class="nav">
						<nav>
							<a href="{{ idea.link }}note/{{ notes.id }}/">open</a>
							
							<a href="{{ idea.link }}note/{{ notes.id }}/edit/">edit</a>
						</nav>
					</div>
					
					<header>{{ notes.headline_echo }}</header>
					<p>{{ notes.txt|truncatewords:120 }}</p>
					<div class="text-right"><small>{{ notes.created_time }}</small></div>
				</article>
			{% endfor %}
		</section>



		
	</div>

{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
		$('article.notes').mouseover(function(){
			var ele = $(this).find('div.nav');
			ele.show();
		});
		$('article.notes').mouseout(function(){
			var ele = $(this).find('div.nav');
			ele.hide();
		});

	</script>
{% endblock %}