<div class="fixed">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<img src="{{ STATIC_URL }}site_imgs/ideation-logo.png" />
			</li>
			 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				

				<!-- <li class="has-form">
				  <div class="row collapse">
					<div class="large-8 small-9 columns">
					  <input type="text" placeholder="Search Ideas">
					</div>
					<div class="large-4 small-3 columns">
					  <a href="#" class="alert button expand">Go</a>
					</div>
				  </div>
				</li> -->
				<li class="has-dropdown">
					
					<a href="#"><i class="fi-widget"></i></a>

					<ul class="dropdown">
						<li class="active"><a href="/settings/"><!-- <i class="fi-power"></i>  -->Setting</a></li>
						<li class="active"><a href="/logout/"><i class="fi-power"></i> Logout</a></li>
					</ul>
				</li>
			</ul>

			<!-- Left Nav Section -->
			<ul class="left">
				<li class="divider"></li>
				<li><a href="/">Dashboard</a></li>
				<li class="divider"></li>
				<li><a href="/ideas/">Ideas</a></li>
				<li class="divider"></li>
			</ul>
		</section>
	</nav>
</div>